/* =========================================================
   宏观布局 (Macro Layout) - 页面骨架与对齐逻辑
   ========================================================= */

html body {
    .bd-page-width {
        position: static;
    }
}

@media (min-width: 1200px) {
    #pst-header.bd-header {
        .navbar-header-items__start {
            width: var(--zcnote-sidebar-width);
            flex: 0 0 var(--zcnote-sidebar-width);
            max-width: var(--zcnote-sidebar-width);

            .navbar-brand {
                padding-left: 0.5rem;
            }
        }

        .navbar-header-items {
            flex: 1 1 auto;
            width: auto;
            max-width: 100%;
        }
    }
}
