/* =========================================================
   打印模式兼容 (防御文档导出 PDF 崩溃)
   ========================================================= */

@media print {
    html body {
        .bd-footer {
            position: static;
        }

        #zcnote-footer-spacer {
            display: none;
        }

        #pst-primary-sidebar,
        #pst-secondary-sidebar {
            position: static;
            height: auto;
            max-height: none;
            overflow-y: visible;
        }
    }
}
