
@media (min-width: 960px) {
    #pst-primary-sidebar.bd-sidebar-primary {
        &.hide-on-wide {
            display: none !important;
            width: 0 !important;
            padding: 0 !important;
            margin: 0 !important;
            border: none !important;
        }

        align-self: start;
        position: sticky;
        top: var(--zcnote-header-height, var(--pst-header-height));
        z-index: 10;
        box-sizing: border-box;

        height: calc(var(--zcnote-vh) - var(--zcnote-header-height, var(--pst-header-height)) - var(--zcnote-overlap-primary, 0px));
        max-height: calc(var(--zcnote-vh) - var(--zcnote-header-height, var(--pst-header-height)) - var(--zcnote-overlap-primary, 0px));

        margin-bottom: -100vh;
        padding-bottom: 0;

        // transition: background-color 0.25s, border-color 0.25s, width 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s;

        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 0 0 0 1rem !important;
        gap: 0 !important;

        > .sidebar-primary__section {
            margin: 0 !important;
        }

        > .sidebar-header-items {
            flex-shrink: 0;
            padding: 1rem 0.5rem 0.5rem 0.5rem;
        }

        > .sidebar-primary-items__start {
            flex: 1 1 0%;
            min-height: 0;
            min-width: 0;

            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: thin;

            overscroll-behavior: contain;
            padding-top: 1.0rem;
            padding-bottom: 1.5rem;
            padding-left: 0;
            padding-right: 1.0rem;
        }

        > .sidebar-primary-items__end {

            position: relative;
            z-index: 2;

            &:empty, &:not(:has(*)) {
                display: none !important;
                padding: 0 !important;
                border: none !important;
            }
        }

        .sidebar-primary-item {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    html body .bd-main {
        min-height: calc(var(--zcnote-vh) - var(--zcnote-header-height, var(--pst-header-height)));
        box-sizing: border-box;
    }
}


@media (min-width: 1200px) {
    .bd-sidebar-primary {
        width: var(--zcnote-sidebar-width);
        max-width: var(--zcnote-sidebar-width);
        flex: 0 0 auto;
        // transition: width 0.25s cubic-bezier(0.4, 0, 0.2, 1), max-width 0.25s cubic-bezier(0.4, 0, 0.2, 1);

        // .sidebar-primary-item.pst-sidebar-collapse {
        //     display: none;
        //     opacity: 0;
        //     pointer-events: none;
        // }
    }

    #pst-secondary-sidebar {
        align-self: start;
        position: sticky;
        top: var(--zcnote-header-height, var(--pst-header-height));
        z-index: 10;
        box-sizing: border-box;

        height: calc(var(--zcnote-vh) - var(--zcnote-header-height, var(--pst-header-height)) - var(--zcnote-overlap-secondary, 0px));
        max-height: calc(var(--zcnote-vh) - var(--zcnote-header-height, var(--pst-header-height)) - var(--zcnote-overlap-secondary, 0px));

        margin-bottom: -100vh;
        padding-bottom: 0;

        overflow-y: auto;
        scrollbar-width: thin;

        // transition: background-color 0.25s, border-color 0.25s, width 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s;
    }
}
